<li>
  <%-message.username%>
  <br />
  <%-message.message_content%>
  <br />
  <%-message.send_at%>
  <br />
  <a href="/message/<%-message.username%>">Open</a>
  <a href="/delete/<%=message.id%>">Delete</a>

  <hr />
</li>
